<div class="lightbox">
  
  <div class="info"></div>
  <div class="content">
    <a href="#" class="back-btn"><span><i class="icon-chevron-left"></i></span></a>
    <img src="{{imgurl size='z'}}" alt="{{title}}" />
  </div>
  
  
  <ul class="tags">
    {{#each tags.tag}}
    <li><a href="#search/{{_content}}">{{_content}}</a></li>
    {{else}}
    <li>No tags</li>
    {{/each}}
  </ul>
  
</div>