<div class="lightbox">
  
  <div class="info"></div>
  <div class="content">
    <img src="{{imgurl photo size='z'}}" alt="{{photo.title}}" />
    {{#if prev}}
    <a href="#view/{{prev.id}}" class="navi-btn prev"><span><i class="icon-chevron-left"></i></span></a>
    {{/if}}
    {{#if next}}
    <a href="#view/{{next.id}}" class="navi-btn next"><span><i class="icon-chevron-right"></i></span></a>
    {{/if}}
  </div>
  
  
  <ul class="tags">
    {{#each photo.tags}}
    <li><a href="#search/{{this}}">{{this}}</a></li>
    {{else}}
    <li>No tags</li>
    {{/each}}
  </ul>
  
</div>