{{#if available}}

<ul class="navi clearfix">
  {{#gt current 1}}
  <li class="prev active">
  {{else}}
  <li class="prev">
  {{/gt}}
    <a href="#search/{{query}}/p{{subtract current 1}}">Prev</a>
  </li>
  
  {{#lt current pages}}
  <li class="next active">
  {{else}}
  <li class="next">
  {{/lt}}
    <a href="#search/{{query}}/p{{add current 1}}">Next</a>
  </li>
  
</ul>

<div class="page-counter">
{{#gt pages 1}}
<p>Total {{total}}, Page {{current}}/{{pages}}</p>
{{else}}
<p>Total {{total}}, Only one page</p>
{{/gt}}
</div>

{{/if}}